---
import DevCard from "../DevCard.astro";

import mostafa from "../../assets/team/mostafa.jpeg";
---

<DevCard
  fullName="Mostafa Razavi Ghods"
  portraitSrc={mostafa.src}
  gitHubUsername="splendidcomputer"
>
<strong>Mostafa Razavi Ghods</strong> is a skilled <strong>AI software developer</strong> with expertise in <strong>machine learning</strong>, <strong>data science</strong>, and <strong>full-stack development</strong>. Proficient in <strong>Python, C/C++, JavaScript, TypeScript, and R</strong>, he specializes in <strong>AI-driven applications</strong>, <strong>system optimization</strong>, and <strong>cloud computing</strong>.

  His experience includes <strong>facial emotion recognition</strong>, <strong>data mining</strong>, and <strong>performance optimization</strong>, using frameworks like <strong>TensorFlow</strong> and <strong>PyTorch</strong>. He has worked on projects such as <strong><a href="https://emotional-territories-web.vercel.app/" target="_blank">Emotional Territories</a></strong>, where he migrated code from R to Python and optimized matrix calculations with JavaScript/TypeScript, and <strong><a href="https://chat.george-ai.net/" target="_blank">George-AI</a></strong>, an AI assistant leveraging <strong>LangChain</strong> and <strong>LLM integrations</strong>.

  Mostafa enjoys tackling <strong>technical challenges</strong>, learning new technologies, and building <strong>efficient, scalable, and maintainable software solutions</strong>.

</DevCard>
