---

---

<div>
  <p>
    © {new Date().getFullYear()} progwise.net
  </p>
  <p>Michael H. Vogt | Fischstr. 21a | D-17489 Greifswald</p>
</div>

<style>
  div {
    display: grid;
    place-items: center;
    color: var(--gray-4);
  }

  @media (max-width: 480px) {
    div p {
      font-size: var(--font-size-0);
      padding: var(--size-0);
    }
  }
</style>
