---

---

<div>
  <p>
    © {new Date().getFullYear()} progwise.net
  </p>
  <p>Michael H. Vogt | Fischstr. 21a | D-17489 Greifswald</p>
</div>

<style>
  div {
    display: grid;
    place-items: center;
    padding: var(--size-4);
    color: var(--gray-4);
  }
</style>
