---
export interface TopNavigationProps {}
import { Image } from "astro:assets";

import PlanetProgwise from "/src/assets/planet-progwise.svg?raw";

import GithubCat from "/src/assets/github-cat.svg?raw";
---

<nav>
  <div class="left">
    <Fragment set:html={PlanetProgwise} />
    <h1>progwise.net</h1>
  </div>

  <div class="right">
    <Fragment set:html={GithubCat} />
    <h1>github</h1>
  </div>
</nav>

<style>
  h1 {
    display: flex;
    font-size: var(--size-6);
  }
  div.right svg {
    color: var(--green-2);
  }

  nav {
    color: var(--gray-4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--size-1) var(--size-4);
    align-items: center;
    overflow: hidden;
  }
  div.left {
    display: flex;
    gap: var(--size-4);
    align-items: center;
    padding: var(--size-2) 0;
  }
  div.right {
    display: flex;
    gap: var(--size-4);

    justify-content: end;
    align-items: center;
  }
</style>
