---
import astroLogo from "../assets/astro.svg";
import mostafa from "../assets/team/mostafa.jpeg";
import yohannes from "../assets/team/yohannes.jpeg";

import DevCard from "./DevCard.astro";
---

<div class="team">
  <h2>The Typescript Team</h2>
  <DevCard
    fullName="Yohannes Tesfay"
    portraitSrc={yohannes.src}
    bioText="Yohannes is a software engineer who loves to build things with code."
    gitHubUsername="YohannesTesfay"
  />
  <DevCard
    fullName="Mostafa Razavi Ghods"
    portraitSrc={mostafa.src}
    bioText="Mostafa is a software engineer who loves to build things with code."
    gitHubUsername="splendidcomputer"
  />
</div>

<style>
  div.team {
    display: grid;
    place-items: center;
    max-width: "1024px";
    margin: "0 auto";
    padding-top: var(--size-8);

    color: var(--gray-4);
  }
  div.team > h2 {
    font-size: 2rem;
    letter-spacing: var(--font-letterspacing-4);
  }
</style>
