---
import astroLogo from "../assets/astro.svg";
---

<article>
  <h2>The Typescript Team</h2>
</article>

<style>
  article {
    display: grid;
    place-items: center;
    max-width: "1024px";
    margin: "0 auto";
    padding-top: var(--size-8);
  }
  h2 {
    font-size: 2rem;
    color: var(--gray-1);
    letter-spacing: var(--font-letterspacing-4);
  }
</style>
