---

import Michael from "./team/michael.astro";
import Mostafa from "./team/mostafa.astro";
import Oleksandr from "./team/oleksandr.astro";
import Pascal from "./team/pascal.astro";
import Yohannes from "./team/yohannes.astro";
---

<div class="team">
  <h2>Building Your Software</h2>
  <sub>Team with strong focus on Typescript, React & GraphQL</sub>
  <article>
    <title>Who we are</title>
    <p>
      <q>
        At progwise.net, we specialize in crafting high-performance software
        solutions, emphasizing React, TypeScript, and GraphQL. Our seasoned
        developers and coaches are dedicated to bringing your ideas to life
      </q>
    </p>
  </article>
  <a
    href="mailto:info@progwise.net?subject=Inquiry%204%20Software%20Development%20Services"
    ><span>Contact us</span>
  </a>
  <Pascal />
  <Yohannes />
  <Mostafa />
  <Oleksandr />
  <Michael />
</div>

<style>
  div.team {
    display: grid;
    place-items: center;
    max-width: "1024px";
    margin: "0 auto";
    padding-top: var(--size-8);

    color: var(--gray-2);
  }
  div.team > h2 {
    font-size: var(--font-size-5);
    letter-spacing: var(--font-letterspacing-4);
  }
  div.team > sub {
    font-size: var(--font-size-1);
    letter-spacing: var(--font-letterspacing-2);
  }

  div.team > article {
    display: grid;
    place-items: center;
    padding: var(--size-4);
    gap: var(--size-4);
    quotes: "«" "»";
  }
  a {
    display: flex;
    gap: var(--size-4);
    padding: var(--size-3) var(--size-4);
    border-radius: var(--radius-5);
    color: var(--gray-12);
    font-weight: var(--font-weight-8);
    background-color: var(--blue-1);
    text-decoration: none;
    align-items: center;
  }

  a:hover {
    color: var(--teal-12);
    background-color: var(--teal-2);
  }

  a:hover svg {
    transform: scale(1.5);
    transition: transform 0.2s;
  }

  @media (max-width: 480px) {
    div.team > h2 {
      font-size: var(--font-size-4);
    }
    div.team > sub {
      font-size: var(--font-size-0);
    }

    a span {
      font-size: var(--font-size-0);
    }

    q {
      font-size: var(--font-size-1);
    }
  }
</style>
