---
import astroLogo from "../assets/astro.svg";

import Mostafa from "./team/mostafa.astro";
import Michael from "./team/michael.astro";
import Pascal from "./team/pascal.astro";
import Yohannes from "./team/yohannes.astro";
import Oleksandr from "./team/oleksandr.astro";
---

<div class="team">
  <h2>The Software Builders</h2>
  <p>Typescript became our native language.</p>

  <Michael />
  <Pascal />
  <Yohannes />
  <Mostafa />
  <Oleksandr />
</div>

<style>
  div.team {
    display: grid;
    place-items: center;
    max-width: "1024px";
    margin: "0 auto";
    padding-top: var(--size-8);

    color: var(--gray-4);
  }
  div.team > h2 {
    font-size: 2rem;
    letter-spacing: var(--font-letterspacing-4);
  }

  div.team > p {
    font-size: 1.5rem;
    letter-spacing: var(--font-letterspacing-3);
    margin-bottom: var(--size-8);
  }
</style>
