---
import TopNavigation from "../components/TopNavigation.astro";
import background from "../assets/progwise-header.png";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>progwise.net</title>
  </head>
  <body>
    <img
      class="backgroundImage"
      src={background.src}
      alt=""
      fetchpriority="high"
    />

    <header>
      <TopNavigation />
    </header>
    <main><slot /></main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
  }
</style>
